@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

$soft-red:hsl(10, 79%, 65%);
$cyan:hsl(186, 34%, 60%);
$dark-brown:hsl(25, 47%, 15%);
$medium-brown: hsl(28, 10%, 53%);
$cream:hsl(27, 66%, 92%);
$pale-orange:hsl(33, 100%, 98%);
$vel-fonta:18px;
$font-stranice:'DM Sans', sans-serif;
$mobile-width:375px;

//font weights
$tanko:400;
$debelo:700;

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-stranice;
}
@mixin flex($direction,$pozicija) {
    display: flex;
    flex-direction: $direction;
    justify-content: $pozicija;
    align-items: $pozicija;
}
body{
    @include flex(column,center);
    min-height: 100vh;
    background-color: $cream;
    font-size: $vel-fonta;
}
.container{
    @include flex(column,center);
    width:40rem;
    height: 60vh;
    .balance,.spending{
        padding:25px;
        border-radius: 20px;
    }
    .balance{
        background-color: $soft-red;
        @include flex(row,space-between);
        width:100%;
        height: 20%;
        align-items: center;
        border-radius: 20px;
        line-height: 1.5;
        margin-bottom:25px;
        .levo{
            @include flex(column,flex-start);
            color:white;
        }
    }

    .spending{
        width:100%;
        height: 80%;
        background-color: $pale-orange;

        .dole{
            @include flex(row,space-between);
            
            .doleLevo{
                @include flex(column,flex-start);
                h1{
                    font-size: 30pt;
                }
            }
            .doleDesno{
                @include flex(column,flex-end);
            }
            .t{
                font-weight: $tanko;
                color:$medium-brown;
            }
        }
        hr{
            height: 1px;
            background-color:$pale-orange;
            
        }
    }
    .s{
        color:$dark-brown;
    }

}

@media screen and (max-width:$mobile-width){
    .container{
        width:90%;
    }
    hr{
        margin-top: 15px;
        margin-bottom: 15px;
    }
}
